$color_dark: #171714;
$color_light: #f5f5f5;
$color_3: #9ab90d;
$color_4: #fcdb7b;
$color_5: #683909;

$button-text-color: $color_dark;

$button_padding_horizontal: 2rem;
$button_padding_vertical: 0.2rem;
$button_border_radius: 0.2rem;

$game_menu_height: 3rem;

$background_colored: $color_light;

$font-family: 'Inter-SemiBold';

$scene_color_bockground: $color_light;
$scene_label_text_color: $color_dark;
$scene_button_text_color: $color_dark;

$menu_color_background: #575757;
$menu_label_text_color: $color_light;
$menu_button_text_color: $color_light;
$label_font_family: 'MontserratAlternates-Regular';
$button_font_family: 'MontserratAlternates-Black';

@mixin label_base {
    user-select: none;
    display: block;
    white-space: none;
    text-align: center;
}

@mixin button_base {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

@mixin button_menu {
    @include button_base;
    font-family: $button_font_family;
}

@mixin label_menu {
    font-family: $menu_label_font_family;
}

@mixin label_screen {
    @include label_base;
    font-size: 4rem;
    font-family: $label_font_family;
    color: $scene_label_text_color;
}

@mixin button_screen {
    @include button_base;
    font-family: $button_font_family;
    color: $scene_button_text_color;
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

@mixin popup_level_one {
    @include scene-buttons-block;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

@mixin popup_level_two {
    @include scene-buttons-block;
    height: 50vh;
    justify-content: end;
}

@mixin button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: $button_font_family;
    white-space: nowrap;

    background: $color_light;
    color: $color_dark;
    border-color: $color_dark;

    border-width: 3px;
    border-style: solid;
    border-radius: $button_border_radius;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: 1rem;
}

@mixin button_hover {
    background-color: $color_3;
    color: $color_4;
    border-color: $color_5;
    border-radius: 50%;
}

@mixin menu_button {
    @include button;
    color: #979797;
    border-color: #979797;

    font-size: 2rem;
    border-radius: .4rem;
    min-width: 3rem;
    min-height: 3rem;
    height: 3rem;
    width: 3rem;
}

@mixin menu_button-disabled {
    color: #cdcdcd;
    border-color: #cdcdcd;
}

@mixin scene-button {
    @include button;
    font-size: 2rem;
    padding-top: $button_padding_vertical;
    padding-bottom: $button_padding_vertical;
    padding-left: $button_padding_horizontal;
    padding-right: $button_padding_horizontal;
}

@mixin scene-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    word-break: break-word;
}

@mixin scene-text-block {
    user-select: none;
    background: $color_dark;
    color: $color_light;
    border-color: $color_light;
    border-radius: $button_border_radius;
    border: solid;
    border-width: 1px;
}

@mixin scene-buttons-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:global(.invisible) {
    opacity: 0;
}