$color_dark: #171714;
$color_light: #f5f5f5;
$color_3: #9ab90d;
$color_4: #fcdb7b;
$color_5: #683909;

$button-text-color: $color_dark;

$button_padding_horizontal: 2em;
$button_padding_vertical: 0.2em;
$button_border_radius: 0.2em;
$menu_button_border_radius: 1em;

$game_menu_height: 3em;

$background_colored: $color_light;

$font-family: 'Inter-SemiBold';

@mixin button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: 'Inter-SemiBold';
    white-space: nowrap;

    background: $color_light;
    color: $color_dark;
    border-color: $color_dark;

    border-width: 3px;
    border-style: solid;
    border-radius: $button_border_radius;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    font-size: 1em;
}

@mixin button_hover {
    background-color: $color_3;
    color: $color_4;
    border-color: $color_5;
    border-radius: 50%;
}

@mixin menu_button {
    @include button;
    font-size: 2em;
    height: $game_menu_height;
    max-height: $game_menu_height;
    min-height: $game_menu_height;
    min-width: $game_menu_height;
    border-radius: $menu_button_border_radius;
}

@mixin scene-button {
    @include button;
    font-size: 2em;
    padding-top: $button_padding_vertical;
    padding-bottom: $button_padding_vertical;
    padding-left: $button_padding_horizontal;
    padding-right: $button_padding_horizontal;
}

@mixin scene-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    word-break: break-word;
}

@mixin scene-text-block {
    user-select: none;
    background: $color_dark;
    color: $color_light;
    border-color: $color_light;
    border-radius: $button_border_radius;
    border: solid;
    border-width: 1px;
}

@mixin scene-buttons-block {
    position: relative;
    width: fit-content;
    block-size: fit-content;
    left: 50%;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 90%;
    max-height: 80%;
}

:global(.invisible) {
    opacity: 0;
}