body {
  display: flex;
  place-items: center;
  overflow: hidden;
  background-color: black;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
}

@media (prefers-color-scheme: light) {
}
