* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'MontserratAlternates-Regular';
  font-style: normal;
  src: url('../fonts/MontserratAlternates-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MontserratAlternates-Black';
  font-style: normal;
  src: url('../fonts/MontserratAlternates-Black.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  src: url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'RobotoMono-Regular';
  font-style: normal;
  src: url('../fonts/RobotoMono-Regular.woff') format('woff');
}

@media (prefers-color-scheme: light) {}